
 img{
     object-fit: cover;
 }

 .items-grid-view{
    display: grid;
     grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }

 .backButton{
     width: 100px;
     text-align: right;
 /* /* margin-left: 40px; */
     margin-top: 40px; 
     background-color: transparent;
     border: none;
     cursor: pointer;
 }